{{#each details.results as |result index|}}
  {{#if (gt index 0)}}
    <hr>
  {{/if}}

  <div class="p-title">
    {{fa-icon "info" fixedWidth=true}} Indicator Info
  </div>
  {{#if result.name}}
    <div>
      <span class="p-key">Name:</span>
      <span class="p-value">{{result.name}}</span>
    </div>
  {{/if}}
  {{#if result.type}}
    <div>
      <span class="p-key">Type:</span>
      <span class="p-value">{{result.type}}</span>
    </div>
  {{/if}}
  {{#if result.category}}
    <div>
      <span class="p-key">Category:</span>
      <span class="p-value">{{result.category}}</span>
    </div>
  {{/if}}
  {{#if result.severity}}
    <div>
      <span class="p-key">Severity:</span>
      <span class="p-value">{{result.severity}}</span>
    </div>
  {{/if}}
  {{#if result.reason}}
    <div>
      <span class="p-key">Reason:</span>
      <span class="p-value">{{result.reason}}</span>
    </div>
  {{/if}}
  {{#if result.details}}
    <div>
      <span class="p-key">Details:</span>
      <span class="p-value">{{result.details}}</span>
    </div>
  {{/if}}
  {{#if result.created}}
    <div>
      <span class="p-key">Date Created:</span>
      <span class="p-value">{{result.created}}</span>
    </div>
  {{/if}}
  {{#if result.owner}}
    <div>
      <span class="p-key">Owner:</span>
      <span class="p-value">{{result.owner}}</span>
    </div>
  {{/if}}
  
  {{#if (and result.labels result.labels.length)}}
    <div class="p-title">
      {{fa-icon "tag" fixedWidth=true}} Labels
    </div>
    <div>
      {{#each result.labels as |label|}}
        <div>
          <span class="p-key">{{label.type}}:</span>
          <span class="p-value">{{label.value}}</span>
        </div>
      {{/each}}
    </div>
  {{/if}}
{{/each}}