{{#each details.incidents as |incident index|}}
  {{#if (gt index 0)}}
    <hr>
  {{/if}}

  <div class="p-title">
    {{fa-icon "info" fixedWidth=true}} Indicator Info
  </div>
  {{#if incident.name}}
    <div>
      <span class="p-key">Name:</span>
      <span class="p-value">{{incident.name}}</span>
    </div>
  {{/if}}
  {{#if incident.type}}
    <div>
      <span class="p-key">Type:</span>
      <span class="p-value">{{incident.type}}</span>
    </div>
  {{/if}}
  {{#if incident.category}}
    <div>
      <span class="p-key">Category:</span>
      <span class="p-value">{{incident.category}}</span>
    </div>
  {{/if}}
  {{#if incident.severity}}
    <div>
      <span class="p-key">Severity:</span>
      <span class="p-value">{{incident.severity}}</span>
    </div>
  {{/if}}
  {{#if incident.reason}}
    <div>
      <span class="p-key">Reason:</span>
      <span class="p-value">{{incident.reason}}</span>
    </div>
  {{/if}}
  {{#if incident.details}}
    <div>
      <span class="p-key">Details:</span>
      <span class="p-value">{{incident.details}}</span>
    </div>
  {{/if}}
  {{#if incident.created}}
    <div>
      <span class="p-key">Date Created:</span>
      <span class="p-value">{{incident.created}}</span>
    </div>
  {{/if}}
  {{#if incident.owner}}
    <div>
      <span class="p-key">Owner:</span>
      <span class="p-value">{{incident.owner}}</span>
    </div>
  {{/if}}
  
  {{#if (and incident.labels incident.labels.length)}}
    <div class="p-title">
      {{fa-icon "tag" fixedWidth=true}} Labels
    </div>
    <div>
      {{#each incident.labels as |label|}}
        <div>
          <span class="p-key">{{label.type}}:</span>
          <span class="p-value">{{label.value}}</span>
        </div>
      {{/each}}
    </div>
  {{/if}}

  <h1 class="p-title">{{fa-icon "book" fixedWidth=true}} Playbooks</h1>
  {{!-- Leaving here until we have an overlay window based power-select
  {{#power-select
          options=details.playbooks
          selected=selectedPlaybook
          searchEnabled=true
          searchField="name"
          placeholder="Playbooks"
          onchange=(action (mut selectedPlaybook)) as |playbook|}}
    {{humanize playbook.name}}
  {{/power-select}}
  --}}
  <select class="w-100" size=5 onchange={{action (mut container.__selectedPlaybookId) value="target.value"}}>
    {{#each details.playbooks as | playbook |}}
      <option value="{{playbook.id}}">{{playbook.name}}</option>
    {{/each}}
  </select>
  <div class="d-flex flex-row justify-content-between align-items-center">
    <div>
      {{#if container.__running}}
        {{fa-icon "spinner-third" fixedWidth=true spin=true}} Running
      {{/if}}
    </div>
    <button {{action "runPlaybook" containerIndex container.id container.__selectedPlaybookId}}
            class="p-btn btn btn-light mt-1">Run Playbook
    </button>
  </div>
  {{#if container.__message}}
    <div class="alert alert-info mt-1">
      {{container.__message}}
    </div>
  {{/if}}
  {{#if container.__errorMessage}}
    <div class="alert alert-danger mt-1">
      {{container.__errorMessage}}
    </div>
  {{/if}}
{{/each}}